.search-result-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Arrière-plan flou */
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-result-overlay .search-result-container {
  background-color: #f2f2f2;
  border-radius: 10px;
  padding: 20px;
  width: 1000px;
}

.search-result-header {
  display: flex;
  justify-content: center;
}

.search-result-header h2 {
  margin-top: 0;
  color: black;
  text-shadow: none;
  margin-right: auto;
}

.search-result-header button {
  border: none;
  border-radius: 10px;
  background-color: #f2f2f2;
  color: black;
  cursor: pointer;
  height: 30px;
  width: 30px;
  margin-left: auto;
}

.search-result-header button:hover {
  background-color: #ccc;
}

.search-result-data {
  height: 475px;
  overflow-y: auto;
}

.search-result-data .users{
  border-bottom: 1px solid #ccc;
  display: block;
}

.search-result-data .users a {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.search-result-data .users a:hover {
  text-decoration: underline;
  cursor: pointer;
}
